body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
    padding: 20px;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.intro img {
    max-width: 30%;
    border-radius: 8px;
}

.intro-text {
    max-width: 45%;
    text-align: left;
}

.intro-text ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
    color: #0A233F;
    font-size: 1rem;
}

.intro-text button {
    background-color: #0A233F;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.intro-text button:hover {
    background-color: #005478;
}

h2 {
    color: #0A233F;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
}

.charging-points {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.point {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.point:hover {
    transform: translateY(-10px);
}

.point img {
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}

.point h3 {
    color: #0A233F;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.point p {
    color: #6698AE;
    font-size: 1rem;
    line-height: 1.5;
}

.point a {
    color: #005478;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
}

.point a:hover {
    text-decoration: underline;
}
