<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banner Responsive</title>
    <link rel="stylesheet" href="../style/desktop-index.css">
    <link rel="stylesheet" href="./banner-responsive.css">
    <link rel="stylesheet" href="../promotion-reponsive-button/promotion-responsive-button.css">
    <link rel="stylesheet" href="../knowmore-responsive-button/knowmore-responsive-button.css">
</head>
<body>
    <div class="banner-containner">
        <div class="banner-content">
            <div class="promotion-container">
                <div class="promotion-content">SHARE NOW X FREE2MOVE</div>
            </div>
            <div class="banner-text">
                <p>Los mejores momentos se comparten. Por eso SHARE NOW y Free2move comparten ahora la misma visión.</p>
            </div>
            <div class="knowmore-container">
                <div class="knowmore-content">SABER MÁS</div>
            </div>
        </div>
        <!-- Se abre la etiqueta div que faltaba -->
        <div class="banner-image-container">
            <!-- <img class="banner-shape" src="./IMG/banner-shape.svg" alt=""> -->
           <img class="banner-image" src="./IMG/banner-image.png" alt=""> 
        </div>
    </div>
    
        
    </body>
</html>