/* Estilos para todos los tamaños de pantalla */
.boton {
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espacio de relleno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Mostrar como bloque en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen */
    transition-duration: 0.4s; /* Duración de la transición */
    cursor: pointer; /* Cursor al pasar el ratón */
}

.boton:hover {
    background-color: #45a049; /* Cambio de color de fondo al pasar el ratón */
}

/* Estilos específicos para tabletas */
@media screen and (max-width: 768px) {
    .boton {
        font-size: 14px; /* Reducir el tamaño de la fuente */
        padding: 12px 24px; /* Reducir el espacio de relleno */
    }
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 480px) {
    .boton {
        font-size: 12px; /* Reducir aún más el tamaño de la fuente */
        padding: 10px 20px; /* Reducir aún más el espacio de relleno */
    }
}
