<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
       <title>Energy2car</title>
      
      <link rel="stylesheet" href="./navbar-dropdown-menu.css">
  

  
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="./IMG/Sample Logo.png" alt="Logo">
        </div>
        <ul class="nav-links">
            <li><a href="#">Carga tu coche</a></li>
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <div class="register-btn">
            <a href="#">Registrarse</a>
        </div>
    </nav>
    <nav class="mobile-navbar">
        <div class="logo-container">
            <img src="./IMG/Sample Logo.png" alt="icono 1">
        </div>
        <div class="menu-icon">
            <div class="menu-icon-text"><i class="fas fa-bars"></i></div>
        </div>
    </nav>
    <script src="https://kit.fontawesome.com/87e0183ecf.js" crossorigin="anonymous"></script>
</body>

</html>