<!-- basic slider ready to use -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Slider</title>
    <link rel="stylesheet" href="./basic-slider.css">
</head>
<body>
    <div class="slider-container">
       
              <div class="slider-screen">
                <div class="slide active">
                  <img src="../../IMG/IMG-slider/carsharing-madrid.webp" alt="Slide 1">
                </div>
                <div class="slide active">
                  <img src="../../IMG/IMG-slider/carsharing-electric.webp" alt="Slide 2">
                </div>
                <div class="slide active">
                  <img src="../../IMG/IMG-slider/carsharing-large.webp" alt="Slide 3">
                </div>
                <div class="slide active">
                    <img src="../../IMG/IMG-slider/carsharing-student.webp" alt="Slide 3">
                  </div>
                  <div class="slide active">
                    <img src="../../IMG/IMG-slider/carsharing-corporate.webp" alt="Slide 3">
                  </div>
                <div class="slide active">
                    <img src="../../IMG/IMG-slider/carsharing-madrid.webp" alt="Slide 1">
                  </div>
                </div>
    </div>
</body>
</html>