.container{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    border: 1px solid red;
    text-align: center;
    margin: 0 auto;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
}

.box {
    width: 35vw;
    height: 10vh;
    border: 1px solid green;
}