<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="./footer.css">
   <!--  Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="container-footer">
            <div class="notes-tab">
                <p>Notas</p>
                <p><i class="fa-solid fa-angle-down"></i></p>
           </div>
            <div class="footer-frame19">
                <div class="footer-frame17"> 
                    <div class="footer-frame16">
                        <h2 class="footer-quote">TU LIBERTAD DE MOVIMIENTO</h2>
                        <h2 class="socialnets"><i class="fa-brands fa-facebook"></i><i class="fa-brands fa-instagram"></i><i class="fa-brands fa-youtube"></i><i class="fa-brands fa-linkedin"></i></h2>
                    </div>
                    <div class="footer-options">
                            <p>FAQ</p>
                            <p>ÚNETE AL EQUIPO</p>
                            <p>SHARE NOW REWARDS</p>
                            <p>SHARE NOW REWARDS</p>
                            <p>PRENSA</p>
                            <p>BLOG</p>
                            <p>TÉRMINOS Y CONDICIONES</p>
                            <p>CONTÁCTANOS</p>
                    </div>
                </div>
                <div class="footer-stores">
                    <img src="./IMG/apple-store.svg" alt="apple store icon">
                    <img src="./IMG/google-play-badge_ES.svg" alt="google play icon">
                </div>
              </div>
            <div class="line"></div>
            <div class="footer-bottom">
                <p class="organization">Ⓒ 2024 United Dreams S.A</p>
                <div class="footer-aboutus">
                    <p>Sobre nosotros</p>
                    <p>Aviso legal</p>
                    <p>Privacidad</p>
                    <p>Gestionar cookies</p>
                </div>
                <p class="select-language">Español<i class="fa-solid fa-angle-down"></i></p>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/87e0183ecf.js" crossorigin="anonymous"></script>
</body>
</html>