<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar-dropdown-menu</title>
    <link rel="stylesheet" href="./dropdown-menu.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="inner-box">
                <div class="icon">
                    <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                    <div class="text">Viajes cortos</div>
                </div>
                <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
            </div>
        </div>
        <div class="box">
            <div class="inner-box">
                <div class="icon">
                    <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                    <div class="text">Viajes cortos</div>
                </div>
                <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
            </div>
        </div>
       <div class="box">
            <div class="inner-box">
                <div class="icon">
                    <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                    <div class="text">Viajes cortos</div>
                </div>
                <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
            </div>
        </div>
         
        <div class="box">
            <div class="inner-box">
                <div class="icon">
                    <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                    <div class="text">Viajes cortos</div>
                </div>
                <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
            </div>
        </div>
        <div class="box">
            <div class="inner-box">
                <div class="icon">
                    <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                    <div class="text">Viajes cortos</div>
                </div>
                <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
            </div>
        </div>
        <div class="box">
            <div class="inner-box">
                <div class="icon">
                    <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                    <div class="text">Viajes cortos</div>
                </div>
                <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
            </div>
        </div>
        <div class="box">
            <div class="inner-box">
                <div class="icon">
                    <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                    <div class="text">Viajes cortos</div>
                </div>
                <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
            </div>
        </div>
        <div class="box">
            <div class="inner-box">
                <div class="icon">
                    <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                    <div class="text">Viajes cortos</div>
                </div>
                <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
            </div>
        </div> 
        <!-- Se repiten las estructuras de div similares -->
    </div>
    <script src="https://kit.fontawesome.com/87e0183ecf.js" crossorigin="anonymous"></script>
    
</body>
</html>