<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex container and boxes</title>
    <link rel="stylesheet" href="./dropdown-menu.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-dropdown-menu"> 
        <div class="box">
            <div class="title-icon">
                <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                <div class="title">Viajes cortos</div>
            </div>
            <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
        </div>
        <div class="box">
            <div class="title-icon">
                <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                <div class="title">Viajes cortos</div>
            </div>
            <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
        </div>
        <div class="box">
            <div class="title-icon">
                <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                <div class="title">Viajes cortos</div>
            </div>
            <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
        </div>
        <div class="box">
            <div class="title-icon">
                <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                <div class="title">Viajes cortos</div>
            </div>
            <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
        </div>
        <div class="box">
            <div class="title-icon">
                <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                <div class="title">Viajes cortos</div>
            </div>
            <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
        </div>
        <div class="box">
            <div class="title-icon">
                <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                <div class="title">Viajes cortos</div>
            </div>
            <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
        </div>
        <div class="box">
            <div class="title-icon">
                <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                <div class="title">Viajes cortos</div>
            </div>
            <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
        </div>
        <div class="box">
            <div class="title-icon">
                <div class="icon-content"><i class="fa-solid fa-route"></i></div>
                <div class="title">Viajes cortos</div>
            </div>
            <div class="description">Tan flexible como tú! Los puntos de recarga que tu coche necesita.</div>
        </div>
   
    <script src="https://kit.fontawesome.com/87e0183ecf.js" crossorigin="anonymous"></script>
</body>
</html>