<!-- Component ready to use -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text component</title>
    <link rel="stylesheet" href="./text-component.css">
</head>
<body>
    <div class="container">
        <div class="text-container">
            <h2>Las ventajas de nuestros puntos de carga</h2>
            <p>Es la mejor forma de conducir. Si usas ENERGY2CAR no tendrás que preocuparte de las recargas de tu vehículo eléctrico o híbrido. Nuestros puntos de carga están disponibles a la vuelta de la esquina. No importa el modelo de coche, lo puedes tener todo en una sola aplicación. Encuéntranos en <a href="">Madrid</a> , <a href="">Roma</a> , <a href="">París</a>, <a href="">Berlín</a> y en más ciudades y pon en marcha todos tus proyectos, grandes o pequeños. ¡Cuenta con nosotros!
            </p>
        </div>
    </div>
    
</body>
</html>